@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Montserrat Alternates Regular";
  src: url("./assets/Fonts/MontserratAlternates-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates Medium";
  src: url("./assets/Fonts/MontserratAlternates-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates Bold";
  src: url("./assets/Fonts/MontserratAlternates-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates SemiBold";
  src: url("./assets/Fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates Light";
  src: url("./assets/Fonts/MontserratAlternates-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates Thin";
  src: url("./assets/Fonts/MontserratAlternates-Thin.ttf") format("truetype");
}

.f-thin {
  font-family: "Montserrat Alternates Thin";
}

.f-light {
  font-family: "Montserrat Alternates Light";
}

.f-regular {
  font-family: "Montserrat Alternates Regular";
}

.f-medium {
  font-family: "Montserrat Alternates Medium";
}

.f-bold {
  font-family: "Montserrat Alternates Bold";
}

.f-semibold {
  font-family: "Montserrat Alternates SemiBold";
}

:root {
  font-family: "Montserrat Alternates Regular", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: black;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
